@media screen and (max-width: 600px) {

    main,
    header {
        margin: 10px 10px;
    }

    .nav-bar .nav-title {
        font-size: 1.25rem;
    }

    .nav-list {
        display: none;
    }

    .nav-right .icon-bar {
        display: inline;
    }

    .nav-left-heading img {
        height: 30px;
        margin-top: 15px;
    }

    /* Banner section */
    .banner {
        border-radius: 16px;
        padding-top: 20px;
        padding-bottom: 20px;
        /* width: 60vw; */
    }

    .banner .banner-title {
        text-align: center;
        font-size: 1.3rem;
    }

    .banner .banner-description {
        font-size: 0.8rem;
        margin-top: 30px;
    }

    .banner .input-field {
        flex-direction: column;
        gap: 16px;
        width: 70%;
        margin-top: 30px;
        /* margin-top: 60px; */
    }

    /* popular tour section */
    .tour-title {
        font-size: 1.25rem;
    }

    .popular-tour-section {
        flex-direction: column;
        gap: 30px;
        max-height: 1000px;
    }

    .popular-tour {
        width: 100%;
    }

    .popular-tour-image {
        width: 100%;
    }

    .tour-description,
    .tour-list,
    .tour-conclusion {
        font-size: 0.8rem;
    }

    .popular-tour-image img {
        width: 100%;
    }


    .popular-tour button {
        border-radius: 8px;
        background: #FF5400;
        color: #FFF;
        font-size: 1rem;
    }

    /* destination section style */

    .destination-title {
        font-size: 1.25rem;
    }

    .destination-description {
        font-size: 0.8rem;
    }

    .destination-image .row-1,
    .destination-image .row-2,
    .destination-image .row-3 {
        grid-template-columns: 1fr;
    }




    /* WHY CHOOSE US DESTINATION */
    .choose .choose-title {
        font-size: 1.25rem;
    }

    .choose .choose-description {
        font-size: 0.8rem;
    }

    .choose-container .choose-container1 {
        flex-direction: column;
    }

    .choose-container1-title,
    .choose-container1-title2,
    .choose-container2-title {
        font-size: 1.25rem;
    }

    .choose-container1-description,
    .choose-container1-description2,
    .choose-container2-description {
        font-size: 0.8rem;
    }

    .choose-container img {
        height: 48px;
        width: 48px;
    }

    .container-design3 {
        max-width: 100%;
    }
}